.slick-prev,
.slick-next {
  z-index: 1000 !important;
  height: 40px !important;
  width: 40px !important;
  background-color: #fff !important;
  border: 2px solid #d7d7d7 !important;
  border-radius: 50% !important;
  opacity: 0.6 !important;
  &:hover {
    background: #eceaea !important;
  }
}
.slick-prev {
  left: -15px !important;
}
.slick-next {
  right: -20px !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome !important;
  color: gray !important;
  font-weight: 600;
  font-size: 30px;
}
.slick-prev:before {
  content: "◄" !important;
  padding-right: 6px;
}
.slick-next:before {
  content: "►" !important;
  padding: 8px;
}
.pointer__event {
  cursor: pointer;
}

// above setup button slick
.section-banner {
  height: 220px;
  margin-bottom: 10px;
  .section-banner__container {
    margin: 20px 150px;
    .banner__cus {
      .bg-img {
        width: 600px;
        height: 190px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #fff;
        border-radius: 12px;
        padding: 0 5px;
        &.banner0__img {
          background-image: url("../../../assets/images/banner/tivi_banner.webp");
        }
        &.banner1__img {
          background-image: url("../../../assets/images/banner/tulanh_banner.webp");
        }
      }
    }
  }
}

//end banner

.section__cate-feature {
  .cate-feature__container {
    margin: 20px 150px;
    .cate-feature__header {
      height: 60px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      background-color: #1447fe;

      .header__title {
        font-size: 30px;
        color: white;
        font-family: "Arial Black Gadget";
        padding: 0 20px;
      }
      .btn {
        color: white;
        font-size: 15px;
        font-weight: 300;
        opacity: 0.9;
        padding: 5px 10px 0 0;
      }
    }
    .cate-feature__body {
      height: 380px;
      padding: 0 10px;
      padding-top: 30px;
      .catefeature__item {
        width: 100%;
        height: 50%;
        display: flex;
        .catefeature__oneitem {
          background-color: #f5f5f5;
          width: 15%;
          border-radius: 12px;
          height: 100%;
          .feature__img {
            width: 110px;
            height: 110px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            &.tivi__img {
              background-image: url("../../../assets/images/tivi.webp");
            }
            &.tulanh__img {
              background-image: url("../../../assets/images/tulanh.jpg");
            }
            &.maygiat__img {
              background-image: url("../../../assets/images/maygiat.jpg");
            }
            &.air__img {
              background-image: url("../../../assets/images/maylanh.jpg");
            }
          }
          .feature__text {
            text-align: center;
            font-size: 20px;
            padding-top: 15px;
          }
        }
      }
    }
  }
}

// end Category feature

.section-spotlight {
  height: 150px;
  .section-spotlight__container {
    // border: 2px solid green;
    margin: 20px 150px;
    .spotlight {
      display: flex;
      text-align: center;
      overflow: hidden;
      border-radius: 12px;
      position: relative;
      z-index: 1;
      justify-content: space-evenly;
      width: 100%;
      li {
        background-color: #f3f3f3;
        width: 24%;
        display: inline-block;
        vertical-align: middle;
        border-radius: 12px;
        padding: 20px 0;
        cursor: pointer;
        .spl {
          display: flex;
          justify-content: space-evenly;
          text-decoration: none;

          .spotlight__img {
            width: 70px;
            height: 70px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            &.prenium {
              background-image: url("../../../assets/images/spotlight0.webp");
            }
            &.tivi {
              background-image: url("../../../assets/images/spotlight1.webp");
            }
          }
          span {
            color: black;
            font-size: 20px;
            align-self: center;
          }
        }
      }
    }
  }
}
//end spotlight
.section-brand {
  height: 150px;
  background-color: #fff;
  margin-bottom: 10px;
  .section-brand__container {
    padding: 25px 0;
    margin: 20px 50px;

    .brand__cus {
      .bg-img {
        display: block;
        height: 90px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
        border-radius: 12px;
        padding: 0 5px;
        &.brand0__img {
          background-size: contain;
          background-image: url("../../../assets/images/brands/download.png");
        }
        &.brand1__img {
          background-image: url("../../../assets/images/brands/sony.webp");
        }
        &.brand2__img {
          background-image: url("../../../assets/images/brands/lg.png");
        }
        &.brand3__img {
          background-image: url("../../../assets/images/brands/panasonic.png");
        }
      }
    }
  }
}
