.slick-prev,
.slick-next {
  z-index: 1000 !important;
  height: 40px !important;
  width: 40px !important;
  background-color: #fff !important;
  border: 2px solid #d7d7d7 !important;
  border-radius: 50% !important;
  opacity: 0.6 !important;
  &:hover {
    background: #eceaea !important;
  }
}
.slick-prev {
  left: -15px !important;
}
.slick-next {
  right: -20px !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome !important;
  color: gray !important;
  font-weight: 600;
  font-size: 30px;
}
.slick-prev:before {
  content: "◄" !important;
  padding-right: 6px;
}
.slick-next:before {
  content: "►" !important;
  padding: 8px;
}
.pointer__event {
  cursor: pointer;
}

//start
.section__share {
  .section__container {
    &.big-promotion__container {
      background-image: linear-gradient(to top left, #36d1dc, #1447fe);
    }
    &.new-product__container {
      background-image: linear-gradient(to top left, red, #1447fe);
    }
    &.top-seller__container {
      background-image: linear-gradient(to top left, #6dd5ed, #1447fe);
    }
    &.top-search__container {
      background-image: linear-gradient(to top left, #614385, #1447fe);
    }
    .section__body {
      .bg-img {
        &.big-promotion__img {
          margin: 40px 0;
        }
        // &.new-product__img {
        //   background-image: url("../../assets/images/category-slide/new-product.webp");
        //   height: 160px !important;
        //   margin: 20px 0 !important;
        // }
        &.top-seller__img {
          height: 180px !important;
        }
        &.top-search__img {
          height: 180px !important;
        }
      }
    }
  }
}
.section__share {
  // height: 540px;
  margin-bottom: 50px;
  .section__container {
    margin: 20px 150px;

    .section__header {
      height: 60px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      .header__title {
        font-size: 30px;
        color: white;
        font-family: "Arial Black Gadget";
        padding: 0 20px;
      }
      .btn {
        color: white;
        font-size: 15px;
        font-weight: 300;
        opacity: 0.9;
        padding: 5px 10px 0 0;
      }
    }
    .section__body {
      // height: 460px;
      padding-bottom: 10px;
      .outline_body {
        background-color: transparent;
        margin: 0 -5px;
      }
      .body__cus {
        background-color: #fff;
        margin: 5px;
        padding-top: 30px;
        border-radius: 12px;
        padding-bottom: 10px;

        .bg-img {
          display: block;
          height: 200px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          padding: 5px;
        }
        .product__info {
          margin: 20px 15px;
          display: flex;
          flex-direction: column;
          height: 200px;
          justify-content: space-evenly;
          p {
            background-image: linear-gradient(to right, #ff512f, #dd2476);
            margin: 0px 85px 5px 15px;
            border-radius: 15px;
            padding: 3px;
            margin-bottom: 5px;
            margin-left: 15px;
            span {
              text-align: center;
              padding: 5px;
              color: white;
            }
          }
          .price--real {
            color: #d0021c;
            font-size: 18px;
          }
          .price--sale {
            .price--begin {
              opacity: 0.8;
              text-decoration: line-through;
              padding-right: 10px;
            }
            .price--percent {
              background: red;
              color: white;
              padding: 5px;
              border-radius: 12px;
            }
          }
          .vote {
            .vote__star {
              color: orange;
              font-size: 16px;
            }
            .vote__number {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
.new-product {
  background-color: linear-gradient(to right, #af63cf, #3327a7) !important;
  margin-right: 50px !important;
}
.top-seller {
  background-color: linear-gradient(to right, #af63cf, #3327a7);
  margin-right: 70px !important;
}
.top-search {
  background: linear-gradient(to right, #3bacf0, #1b6dc1);
  margin-right: 90px !important;
}

//end
.home-general {
  //   height: 100px;
  margin: 20px 150px;
  .row {
    ul {
      li {
        font-size: 16px;
      }
    }
    .connect {
      font-size: 18px;
      color: #1447fe;
    }
    .connect__symbol {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
